{% extends 'shared/layout.html' %}
{% block title %} author{% endblock %}
{% block content %}
<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="{{ writer.image.url }}" alt="" />
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<div>
									<span>
										<span>{{ writer.title }}</span>
									</span>
                                    <br>

								</div>
								<div>
									<p><b>توضیحات :</b> {{ writer.content }}</p>
								</div>

							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->


					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">کتاب هایی از این نویسنده</h2>

						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
                                    {% for book in forshowbooks %}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{{ book.image.url }}" alt="" style="height: 268px;width: 250px"/>


                                                    <a href={% url 'bookdetail' book.slug %}><button type="button" class="btn btn-default add-to-cart"><i ></i>مشاهده</button></a>
												</div>
											</div>
										</div>
									</div>
                                    {% endfor %}
								</div>
							</div>
						</div>
					</div><!--/recommended_items-->
				</div>

				<div class="col-sm-3">
					<div class="left-sidebar">
						</div><!--/category-productsr-->

						<div class="brands_products"><!--brands_products-->
							<h2>دسته بندی کتاب ها</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
                                    {% for cat in bookcategory %}
									<li><a href={% url 'bookshome' cat.slug %}> <span class="pull-left">{{ cat.bookcat.count }}</span>{{ cat.title }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div><!--/brands_products-->

						<div class="shipping text-center"><!--shipping-->
							<img src="/static/images/New/17.jpg" alt="" />
						</div><!--/shipping-->

					</div>
				</div>


			</div>
		</div>
	</section>
{% endblock %}