{% extends 'shared/layout.html' %}
{% block title %}
    AboutBooka
{% endblock %}

{% block content %}
     <div id="contact-page" class="container">
    	<div class="bg">

    		<div class="row">
				<div class="col-sm-4">
	    			<div class="contact-info">
	    				<h2 class="title text-center">تصویر</h2>
						<img style="width: 330px;height: 380px" src="/static/images/New/booka.jpg" class="img-responsive" />
	    			</div>
    			</div>
	    		<div class="col-sm-8">
	    			<div class="about">
	    				<h2 class="title text-center">درباره بوکا</h2>
						<p class="about-desc">
                                                امروزه کتاب خواندن ارزش خود را متاسفانه از دست داده است .هدف کلی سایت بوکا تشویق به خواندن کتاب است. کتاب تجربیات هزاران هزار فرد قبل از ما است و راه آموختن زندگی بهتر است .</p>
</p>
                        <p class="about-desc">
                                ما در اینجا علاوه بر رتبه بندی کتاب ها به سلیقه شما، مکانی برای به اشتراک گذاشتن نظرات شما در مورد کتاب ها ویا مسایلی از این قبیل در قالب مقاله  ها فراهم ساختیم تا با هم بتوانیم از این گنجینه بزرگی که پیشینیان در اختیارمان گذاشتند استفاده بهتر کنیم.
                        </p>
                        <p class="about-desc">
                            سایت نوپای ما مشکلات زیادی دارد ! اما سعی میکنیم با بهره گیری از نظرات شما و رفع این مشکلات فضای این کافه ی کتاب انلاین را بهتر و بهتر کنیم.
                        </p>
                         <p class="about-desc">
                                         خوشحال میشویم نظرات ، انتقادات و پیشنهاد های شما را از طریق بخش تماس با ما بشنویم.
                        </p>



	    			</div>
	    		</div>
	    	</div>




    	</div>
    </div><!--/#contact-page-->
{% endblock %}