{% extends 'shared/layout.html' %}
{% block title %}
    Aboutme
{% endblock %}

{% block content %}
     <div id="contact-page" class="container">
    	<div class="bg">

    		<div class="row">
				<div class="col-sm-4">
	    			<div class="contact-info">
	    				<h2 class="title text-center">تصویر</h2>
						<img style="width: 330px;height: 380px" src="/static/images/New/Mypicture.jpg" class="img-responsive" />
	    			</div>
    			</div>
	    		<div class="col-sm-8">
	    			<div class="about">
	    				<h2 class="title text-center">درباره من</h2>
						<p class="about-desc">
                        چطور میتوانم خودم را معرفی کنم؟:)</p>
                        <p class="about-desc">
                        تا حالا که این کار را نکردم! باید با سلامی که هر روز میشنویم شروع کنم یا .....</p>
						<p class="about-desc">
                            اهان! پیدا کردم.من یک انسان هستم.O_O
						</p>
                        	<p class="about-desc">
                           درست مثل همه ی شما، البته نه دقیق. با حس شوخطبعی بیشتر ، خیلی بیشتر ، بیشتر از کلمه ی بیشتر...
						</p>
                        	<p class="about-desc">
                           تشنه یادگیری
						</p>

                        	<p class="about-desc">
                           دنبال هر چیزی که بتواند به هیجان بیاوردم
						</p>
                        	<p class="about-desc">
                             گاه کتاب و گاه برنامه نویسی و حتی گیم
						</p>
                         	<p class="about-desc">
                             و در اخر عاشق....
						</p>
                           	<p class="about-desc">
                             عاشق خنده شما
						</p>
                            	<p class="about-desc">
                             عاشق خنداندن
						</p>
                              	<p class="about-desc">
                             و در نهایت عاشق زندگی
						</p>
                        </p>
                              	<p class="about-desc">
                             فکر کنم دیگه کافی باشه قربان شما خداحافظ
						</p>
                        <br><br><br><br><br><br>
                            </p>
                              	<p class="about-desc">
                             وافعا فکر میکنید من اینطوری متن رو تموم میکنم! میگفتم من یک انسانم. درست یادم نیست کی به این مسیله پی بردم چون اونموقع نوزاد بودم!
						</p>
                        <p class="about-desc">
                              بزرگ شدم رفتم مدرسه.درست مثل یک انسان البته بیشتر شبیه یک ربات ولی خب رفتم مدرسه بزرگتر شدم و بازهم بزرگتر شدم تا رسیدم به تابستان امسال یعنی تابستان ۱۴۰۰ یکی از بهترین تابستان های عمرم! با برنامه نویسی اشنا شدم و دیدم میتونم قوه ی تخیلی و قوه ی خلاقیت و البته سندروم معتاد خنده و خندادن را توی برنامه نویسی اجرا کنم. یک حرفه ی جالب که علاوه بر تعمل با کامپیوتر ها راهی برای اشنایی با افراد جدید در سراسر دنیا و صد البته کلی اتفاق جالب دیگه
						</p>
                        <p class="about-desc">
                            اولین کدی که نوشتم یعنی چاپ کردن Hello world مرا انقدر به وجد اورد که احساس میکردم هیچ چیز نمیتواند جلویم را بگیرد که البته چند دقیقه بعد با ارور ۱۰ خطی تمام تار هایم پنبه شد
						</p>
                          <p class="about-desc">
                            این کار را ادامه دادم در روز هایی که به دلیل این ویروس نمیتوانستیم از تابستان لذت کافی ببریم تا رسیدم به جایی که این مهارت را در خودم دیدم که سایتی هر چند کوچک ولی جمع و جور را بنویسم. که البته این اتفاق به دلیل حضور تنبلی قرار نبود هیچ وقت اتفاق بیفتد!
						</p>
                          <p class="about-desc">
                              جشنواره نوجوان خوارزمی تلنگری بود که این کار را شروع کنم. بعد از یافتن انگیزه نوبت ایده رسید. چیزی که بیشتر از همه چیز وجود داشت! ایده ی بوکا را در پیش گرفتم و بعد از حدودا ۲ و نیم هفته کار این سایت را درست کردم. البته اگر بتوان سایت گفت!
						</p>
                            <p class="about-desc">
                                خلاصه هدف از این همه حرف یک کلمه بود : هیچ چیز
						</p>
                            <p class="about-desc">
                                شوخی نمیکنم! واقعا هیچ چیز . من در جایگاهی نیستم که بتوانم از خودم بگویم چون کار مفیدی در زندگی نکردم جز مصرف اکسیژن و تولید کربن دی اکسید. اما دیدم نمی شود این بخش از سایت خالی باشد پس متنی اماده کردم تا لحظاتی باهم خوش باشیم و مرا کمی بشناسید.
						</p>
                               <p class="about-desc">
                                    از طریق ایمیل پایین با من در ارتباط باشید خوشحال میشوم با شما حرف بزنم و در خدمتتان باشم.اخر متن را هم میخواهم اینگونه تمام کنم:
						</p>
                                      <p class="about-desc">
                                                زندگی سخت است و البته دردناک و شاید بی رحم! اما ما سلاحی در اختیار داریم که میتواند همه ی اینها را نابود کند و انهم لبخند و خندیدن هست. سلاحی که میتوانید همیشه و در همه جا استفاده کنید(البته نه در مجلس ختم!) من خودم سعی میکنم همیشه از این سلاح استفاده کنم حتی وقتی که موقع نوشتن این سایت به اروری بر خوردم که تعداد کلماتش از عدد پی بیشتر بود! بله اروری ۵ کلمه ای:
						</p>
                        <p class="about-desc" style="color: red">
PC hurried to meet Hagh

						</p>
                          <p class="about-desc" style="color: red">
کامپیوتر به دیدار حق شتافت

						</p>
	    			</div>
	    		</div>
	    	</div>

			<div class="row">
				<div class="col-sm-12 about-address">
					<address>
	    				<p> ایمیـل من: hamed.mehrniya.85@gmail.com
						</p>
	    			</address>
				</div>
			</div>



    	</div>
    </div><!--/#contact-page-->
{% endblock %}