{% extends 'shared/layout.html' %}
{% block title %}
    Bookafromzero
{% endblock %}

{% block content %}
     <div id="contact-page" class="container">
    	<div class="bg">

    		<div class="row">
				<div class="col-sm-4">
	    			<div class="contact-info">
	    				<h2 class="title text-center">تصویر</h2>
						<img style="width: 330px;height: 380px" src="/static/images/New/16420231.jpg" class="img-responsive" />
	    			</div>
    			</div>
	    		<div class="col-sm-8">
	    			<div class="about">
	    				<h2 class="title text-center">متن</h2>

						<p class="about-desc">
                            جرقه های اولیه ایده سایت بوکا  بعد از تصمیم برای درست کردن سایتی شروع شد. از بین ایده های مختلف این طرح به دلیل مناسب بودن از لحاظ نیاز جامعه ، طرحی نسبتا جدید در ایران و.... انتخاب شد. و بعد نوبت به پر و بال دادن به این ایده بود، مهم ترین بخشی که سعی داشتیم به ان توجه کنیم بخش در آمد زایی افراد از طریق انتشار مقاله هایشان بود که قصد داریم به زودی این بخش را نیز اضافه کنیم. هنوز در مورد جوایز نتیجه گیری جدی نشده است ولی احتمالا بخشی از درامد سایت از طریق تبلیغات  به این کار اختصاص میدهیم. سعی کردیم تبلیغات را طوری قرار دهیم که شما خواننده عزیز را اذیت نکند و راهی برای کسب درامد و ادامه حیات سایت بوکا باشد.
                        </p>
                        <p class="about-desc">
                             بعد از اینکه ایده کاملا شکل گرفت و تکمیل شد شروع کردیم به نوشتن سایت. بخش قالب بوکا از سایت https://1614gp.ir برداشته شده است که البته حق کپی رایت و رضایت کامل این سایت را دارد.و بعد از انجام تغییرات نسبتا زیاد روی قالب طرح خارجی سایت آماده شد.سپس ان نوبت به برنامه نویسی سمت بک اند رسید. اولین پروژه نسبتا بزرگ من ! بعد از حدودا ۲ هفته این بخش نیز تمام شد. علاوه بر ایجاد این سایت تجربیات زیادی نیز در این راه کسب کرده و مطالب بسیاری یاد گرفتم. بخش بک اند این سایت با زبان پایتون و فریمورک جنگو نوشته شده است.
                        </p>
                          <p class="about-desc">
                              در انتها میخواهم به این برسم که اگر ایده ای در هر زمینه ای دارید  زیاد رویش فکرنکنید که شاید نگیرد و شاید خوب نباشد و... بروید و کار را شروع کنید حتی اگر چیز خوبی از آب در نیامد اشکال نداردد تجربه ای که در این راه کسب می کنید با ارزش تر از نتیجه است در ضمن خود ایده در این راه هر لحظه پخته تر میشود برای مثال بوکا اول قرار بود فروشگاه اینترنتی کتاب باشد نه کافه انلاین کتاب !
                        </p>
	    			</div>
	    		</div>
	    	</div>




    	</div>
    </div><!--/#contact-page-->
{% endblock %}