{% extends 'shared/layout.html' %}
{% block title %} success{% endblock %}
{% block content %}
<div style="width:100%;height:100%">
    <p style="text-align: center">ابتدا باید وارد حساب کاربری خود شوید</p>
        <p style="text-align: center">برایوارد شدن به حساب کاربری خود اگر قبلا حساب ایجاد کردید بر روی این گزینه بزنید</p>
    <img src="/static/images/rules/1.jpg" alt="success image" style="width: 60%;height: 80%;position: relative; ">
    <br><br>
 <p style="text-align: center">  اگر حساب کاربری ندارید بر گزینه ثبت نام کلیک کنید</p>
    <img src="/static/images/rules/2.jpg" alt="success image" style="width: 60%;height: 80%;position: relative; ">
   <br><br>
 <p style="text-align: center">اطلاعات خود را وارد نمایید</p>
    <img src="/static/images/rules/3.jpg" alt="success image" style="width: 60%;height: 80%;position: relative; ">
    <br><br>
 <p style="text-align: center">  دقت کنید برای شما لینکی ارسال خواهد شد لطفا ایمیلی که در دسترس است وارد نمایید</p>
    <img src="/static/images/rules/4.jpg" alt="success image" style="width: 60%;height: 80%;position: relative; ">
<br><br>
 <p style="text-align: center">میتوانید با زدن گزینه مشاهده و یا ادامه مطالب به صفحه جزییات پست بروید</p>
    <img src="/static/images/rules/5.jpg" alt="success image" style="width: 60%;height: 80%;position: relative; ">
       <img src="/static/images/rules/6.jpg" alt="success image" style="width: 60%;height: 80%;position: relative; ">

    <br><br>
 <p style="text-align: center">میتوانید نظر خود را در مورد پست یا کتاب وارد کنید</p>
    <img src="/static/images/rules/7.jpg" alt="success image" style="width: 60%;height: 80%;position: relative; ">
       <img src="/static/images/rules/10.jpg" alt="success image" style="width: 60%;height: 80%;position: relative; ">
<br><br>
 <p style="text-align: center">از این منو میتوانید به طبقه بندی کتاب ها دسترسی پیدا کنید</p>
    <img src="/static/images/rules/9.jpg" alt="success image" style="width: 60%;height: 80%;position: relative; ">
  <br><br>
 <p style="text-align: center">در پنل کاربری میتوانید با زدن دکمه هایی که با فلش نشان داده شده مقاله ایجاد کنید و کتاب های در حال خوتندن خود را ببینید و...</p>
    <img src="/static/images/rules/13.jpg" alt="success image" style="width: 60%;height: 80%;position: relative; ">
<br><br>
 <p style="text-align: center">میتوانید لیست نفرات برتر را از این جدول ببینید</p>
    <img src="/static/images/rules/15.jpg" alt="success image" style="width: 60%;height: 80%;position: relative; ">

    <br><br><br><br><br>
</div>
{% endblock %}