<footer id="footer"><!--Footer-->
		<div class="footer-Before">
			<div class="container">
				<div class="block-news">
					<div class="row">
						<h3>فردریک داگلاس :

زمانی که یاد می گیرید بخوانید، برای همیشه آزاد خواهید شد</h3>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="address">
							<img src="/static//static/images/home/map.png" alt="" />
						</div>
					</div>
					<div class="col-sm-3">
						<div class="address">
							<img src="/static//static/images/home/map.png" alt="" />
						</div>
					</div>
					<div class="col-sm-6">
						<div class="companyinfo">
							<h2><span>Booka</span></h2>
							<h4>درباره ما :</h4>
							<p> امروزه کتاب خواندن کلا از یاد رفته. ما در تلاش هستیم تا با تشویق افراد به خواندن کتاب این ،گنجینه بزرگ تجربیات،دانسته ها و... افراد مختلف، زندگی بهتری با هم و در کنار هم تجربه کنیم</p>
						</div>
					</div>
				</div>
			</div>
		</div>



		<div class="footer-bottom" style="direction: ltr !important;">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2018
						<a target="_blank" href="http://www.1614GP.ir"><b>1614Group</b></a>. All rights reserved.
					</p>
				</div>
			</div>
		</div>

	</footer><!--/Footer-->